.main-bg, .main-text {
    height: calc(100vh - 63px);
}

.main-bg {
    background-image: url('./images/jgycimer_atlatszo.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0.1;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 50%;
    top: 63px;
    left: 25%;
}

h1, h2 {
    text-align: center;
    margin: 2rem 0;
}

h1 {
    line-height: 1.5;
}

@media(max-width: 400px) {
    .main-text {
        width: 100%;
        left: 0%;
    }
}