nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f1f1f1;
}

nav h3 {
    display: inline-block;
    margin: auto;
}

@media print {
    nav {
        display: none;
    }
}